body {
  background: url(coffee-apple.jpg) no-repeat center center fixed;
  border: 2px solid red;
  object-fit: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}
